@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
    font-family: Raleway, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.formWrapper {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px; /* Adjust as necessary */
}

h2 {
    text-align: center;
    color: #4C489D;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px; /* Space between form groups */
    position: relative; /* For positioning icons */
}

label {
    margin-bottom: 5px; /* Space between label and input */
    color: #4C489D; /* Label color */
}

select,
input[type="text"],
textarea {
    border: none;
    border-bottom: 2px solid #D1D1D4; /* Bottom border */
    padding-left: 30px; /* Space for icon */
    padding-bottom: 5px; /* Padding for bottom */
    width: 100%;
    transition: border-color .2s; /* Transition effect */
}

select:hover,
input[type="text"]:hover,
textarea:hover,
select:focus,
input[type="text"]:focus,
textarea:focus {
    outline: none; /* Remove outline on focus */
    border-bottom-color: #6A679E; /* Change border color on focus */
}

input[type="number"] {
    width: calc(100% - 60px); /* Adjust width to accommodate buttons */
}

.hoursInput {
    display: flex;
    align-items: center; /* Center buttons and input vertically */
}

.hoursInput button {
    background-color: #6A679E; /* Button color */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px;
    padding: 5px 10px; /* Padding for buttons */
    cursor: pointer; /* Pointer cursor for buttons */
}

.hoursInput button:hover {
    background-color: #5D54A4; /* Darker shade on hover */
}

.submitButton {
    background-color: #4C489D; /* Submit button color */
    color: white; /* Submit button text color */
    border-radius: 26px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #6A679E; /* Lighter shade on hover */
}

.loading,
.error {
    text-align: center;
}